<div style="padding-left:50px" class="content animated fadeInLeft">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12"><!-- Debug Panel-->
			<div class="panel panel-danger">
				<div class="panel-heading"><h4>Debug Panel<a ng-click="data.show_panel.debug = !data.show_panel.debug"
																										 class="text-danger fa fa-close pull-right"></a><a
					ng-href="#!/device-manager" class="text-danger fa fa-cog pull-right"></a></h4></div>
				<div class="debug-panel">
					<div ng-show="data.show_panel.debug" class="panel-body">
						<div class="row">
							<div style="width:800px; height: 400px" class="carousel-frame"><!--carousel(links="data.links")--></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-lg-6"><!-- Digital Input Panel-->
			<div id="digital-input-group" class="panel panel-warning">
				<div class="panel-heading"><h4>Digital Input Group<a
					ng-click="data.show_panel.digital_input = !data.show_panel.digital_input;" class="fa fa-close pull-right"></a><a
					ng-click="data.show_settings.digital_input = !data.show_settings.digital_input;"
					class="fa fa-cog pull-right"></a><a class="fa fa-info pull-right"></a></h4></div>
				<div ng-show="data.show_panel.digital_input" class="panel-body"><h4>IN1</h4>
					<div ng-click="data.digital_input.DIN1 = !data.digital_input.DIN1" class="slideThree"><input type="checkbox"
																																																			 id="randomInputs"
																																																			 ng-checked="data.digital_input.DIN1"
																																																			 value="None"
																																																			 name="check"/><label
						for="slideThree"></label></div>
					<h4>IN2</h4>
					<div ng-click="data.digital_input.DIN2 = !data.digital_input.DIN2" class="slideThree"><input type="checkbox"
																																																			 id="randomInputs"
																																																			 ng-checked="data.digital_input.DIN2"
																																																			 value="None"
																																																			 name="check"/><label
						for="slideThree"></label></div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6"><!-- Digital Output Panel-->
			<div class="panel panel-warning">
				<div class="panel-heading"><h4>Digital Output Group<a
					ng-click="data.show_panel.digital_output = !data.show_panel.digital_output;"
					class="fa fa-close pull-right"></a><a
					ng-click="data.show_settings.digital_output = !data.show_settings.digital_output;"
					class="fa fa-cog pull-right"></a><a class="fa fa-info pull-right"></a></h4></div>
				<div id="digital-output-group" ng-show="data.show_panel.digital_output" class="panel-body"><h4>OUT1</h4>
					<div ng-click="data.digital_output.DOUT1 = !data.digital_output.DOUT1" class="slideThree"><input
						type="checkbox" id="randomInputs" ng-checked="data.digital_output.DOUT1" value="None" name="check"/><label
						for="slideThree"></label></div>
					<h4>OUT2</h4>
					<div ng-click="data.digital_output.DOUT2 = !data.digital_output.DOUT2" class="slideThree"><input
						type="checkbox" id="randomInputs" ng-checked="data.digital_output.DOUT2" value="None" name="check"/><label
						for="slideThree"></label></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-lg-6"><!-- Analog Input Panel-->
			<div id="analog-output-group" class="panel panel-success">
				<div class="panel-heading"><h4>Analog Input Group<a
					ng-click="data.show_panel.analog_input = !data.show_panel.analog_input" class="fa fa-close pull-right"></a><a
					ng-click="data.show_settings.analog_input = !data.show_settings.analog_input"
					class="fa fa-cog pull-right"></a></h4></div>
				<div ng-show="data.show_panel.analog_input" class="analog-input">
					<div id="analog-input-body" ng-hide="data.show_settings.analog_input" class="panel-body"><h4>AIN1</h4>
						<div class="slider slider-default"><!-- Two way binding--><input type="text"
																																						 data-slider-bind="data.analog_input.IN1"
																																						 value="45" data-slider-min="0"
																																						 data-slider-max="100"
																																						 data-slider-selection="after"
																																						 data-slider-tooltip="hide"
																																						 class="slider-span"/></div>
						<h4>AIN2</h4>
						<div class="slider slider-default"><!-- Two way binding--><input type="text"
																																						 data-slider-bind="data.analog_input.IN2"
																																						 value="10" data-slider-min="0"
																																						 data-slider-max="100"
																																						 data-slider-selection="after"
																																						 data-slider-tooltip="hide"
																																						 class="slider-span"/></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6"><!-- Analog Output Panel-->
			<div id="analog-output-group" class="panel panel-success">
				<div class="panel-heading"><h4>Analog Output Group<a
					ng-click="data.show_panel.analog_output = !data.show_panel.analog_output;" class="fa fa-close pull-right"></a><a
					ng-click="data.show_settings.analog_output = !data.show_settings.analog_output;"
					class="fa fa-cog pull-right"></a></h4></div>
				<div ng-show="data.show_panel.analog_output" class="analog-output">
					<div id="analog-output-control" ,="," ng-hide="data.show_settings.analog_output"
							 class="panel-body analog-control"><h4>OUT1</h4>
						<div class="slider slider-default"><!-- One way binding--><input type="text" id="analog-output-1"
																																						 data-slider-bind="data.analog_output.OUT1"
																																						 value="" data-slider-min="0"
																																						 data-slider-max="100"
																																						 data-slider-value="{{ slider }}"
																																						 data-slider-selection="after"
																																						 data-slider-tooltip="hide"
																																						 class="slider-span"/></div>
						<h4>OUT2</h4>
						<div class="slider slider-default"><!-- Two way binding--><input type="text" id="analog-output-2"
																																						 data-slider-bind="data.analog_output.OUT2"
																																						 value="" data-slider-min="0"
																																						 data-slider-max="100"
																																						 data-slider-selection="after"
																																						 data-slider-tooltip="hide"
																																						 class="slider-span"/></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12"><!-- Relay Control Panel-->
			<div class="panel panel-primary">
				<div class="panel-heading"><h4>Relay Control Group<a
					ng-click="data.show_panel.relay_control = !data.show_panel.relay_control"
					class="text-danger fa fa-close pull-right"></a><a style="color:white !important;"
																														class="text-danger fa fa-cog pull-right"></a><a
					class="fa fa-info pull-right"></a></h4></div>
				<div ng-show="data.show_panel.relay_control" class="panel-body">
					<div class="row relay-control">
						<div class="col-xs-6 col-md-6 col-lg-6"><h1>Relay 1</h1>
							<div ng-click="data.relays.A0 = !data.relays.A0; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A0"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
							<h1>Relay 2</h1>
							<div ng-click="data.relays.A1 = !data.relays.A1; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A1"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
							<h1>Relay 3</h1>
							<div ng-click="data.relays.A2 = !data.relays.A2; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A2"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
							<h1>Relay 4</h1>
							<div ng-click="data.relays.A3 = !data.relays.A3; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A3"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
						</div>
						<div class="col-xs-6 col-md-6 col-lg-6"><h1>Relay 5</h1>
							<div ng-click="data.relays.A4 = !data.relays.A4; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A4"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
							<h1>Relay 6</h1>
							<div ng-click="data.relays.A5 = !data.relays.A5; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A5"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
							<h1>Relay 7</h1>
							<div ng-click="data.relays.A6 = !data.relays.A6; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A6"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
							<h1>Relay 8</h1>
							<div ng-click="data.relays.A7 = !data.relays.A7; writePins()" class="slideThree"><input type="checkbox"
																																																			ng-checked="data.relays.A7"
																																																			value="None"
																																																			name="check"/><label
								for="slideThree"></label></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>