.content.animated.fadeIn(style="padding-left:50px; padding-top: 100px;")
    .row
        .col-xs-12.col-md-12.col-lg-12
            // Debug Panel
            include components/debug

    .row
        .col-xs-6.col-md-6.col-lg-6
            // Digital Input Panel
            include components/digital-input
        .col-xs-6.col-md-6.col-lg-6
            // Digital Output Panel
            include components/digital-output

    .row
        .col-xs-6.col-md-6.col-lg-6
            // Analog Input Panel
            include components/analog-input
        .col-xs-6.col-md-6.col-lg-6
            // Analog Output Panel
            include components/analog-output

    .row
        .col-xs-12.col-md-12.col-lg-12
            // Relay Control Panel
            include components/relay-control
