.panel.panel-danger
    .panel-heading
        h4 Debug Panel
            a.text-danger.fa.fa-close.pull-right(ng-click="data.show_panel.debug = !data.show_panel.debug")
            a.text-danger.fa.fa-cog.pull-right
    .debug-panel
        .panel-body(ng-show="data.show_panel.debug")
            .row
                h1.text-center Select Your Device
