.brand
   //span RPi Controller
   img(src="/images/raspberry.png")
ul.menu-content
   li
      i.fa.fa-home.pull-left
      a(href="/#!/") Home
   li
      i.fa.fa-gears.pull-left
      | Devices
   li
      i.fa.fa-bomb.pull-left
      a(href="/#!/auth") Auth